---
import PreferencesView from "../components/PreferencesView.tsx";
import Layout from "../layouts/Layout.astro";
---

<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preferencje żywieniowe</title>
  </head>
  <body class="bg-gray-100">
    <Layout>
      <main class="py-8">
        <PreferencesView client:load />
      </main>
    </Layout>
  </body>
</html>
