---
import { Button } from "@/components/ui/button";
---

<section class="bg-gray-100 text-gray-900 py-8">
  <div class="container mx-auto px-4 py-6 flex flex-col lg:flex-row items-center">
    <div class="flex-1 space-y-6">
      <h1 class="text-3xl lg:text-4xl font-bold">Twoje pescatariańskie menu na wyciągnięcie ręki</h1>
      <p class="text-base lg:text-lg">
        Odkryj świat zdrowego gotowania dla pescatarian. Nasza aplikacja wykorzystuje sztuczną inteligencję, aby
        dostosować przepisy do Twojej diety - bez mięsa, ale z pysznymi rybami i owocami morza. Oszczędzaj czas na
        modyfikowaniu przepisów i ciesz się smacznymi, zdrowymi posiłkami.
      </p>
      <a href="/auth/register">
        <Button className="bg-black hover:bg-gray-900 text-white w-full sm:w-auto px-8 py-3 text-center"
          >Zacznij teraz</Button
        >
      </a>
    </div>
    <div class="flex-1 mt-8 lg:mt-0 lg:ml-8">
      <img
        src="https://cdn.pixabay.com/photo/2021/01/16/09/05/meal-5921491_1280.jpg"
        alt="Zdrowe jedzenie"
        class="rounded-lg shadow-lg"
      />
    </div>
  </div>
</section>
